.content {
  float: right;
  background-color: #FFF;
  width: 74%;
  margin-top: 2.4rem;
  border-radius: 1.6em;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
  }
}
