.footer {
  padding-top: 2em;
  padding-bottom: 2em;
  position: absolute;
  bottom: 0;
  min-width: 100%;
  background-color: #cdcdcd;
}

.footer__menu {
  margin-bottom: 2.3em;
}

.copyright {
  float: left;
  font-size: 1.1em;
}

.scm {
  float: right;
  font-size: 1.1em;
}

@media screen and (max-width: 480px) {
  .footer__menu {
    display: none;
  }
}
