.footer {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #cdcdcd;
  box-sizing: border-box;
}

.footer__menu {
  margin-bottom: 3rem;
}

.footer__contacts {
    display: none;
    color: #000;
    margin-bottom: 3rem;
}

.copyright {
  float: left;
  font-size: 1.3rem;
}

.scm {
  float: right;
  font-size: 1.3rem;
}

@media screen and (max-width: 640px) {
    .footer__menu {
        display: none;
    }

    .footer__contacts {
        display: block;
    }
}
