.header__logo {
  margin-top: .8px;
  float: left;
}

.header__contacts {
  float: right;
  margin-top: 1em;
}

.header__basket {
  float: right;
  margin-left: 2em;
}

@media screen and (max-width: 768px) {
  .header__contacts {
    display: none;
  }
@media screen and (max-width: 480px) {
  .header__logo {
}
/*
 * Зачем это???
 */
    width: calc(40%);
  }
}
