.sidebar {
  float: left;
  width: 23%;
  background: linear-gradient(to top, #ff9600, #ffc600);
  margin-top: 24px;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebar__menu {
  font-size: 1em;
  margin-left: 1em;
  line-height: 2em;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
