.top-panel {
  background-color: #ededed;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.top-panel__menu {
  float: left;
}


@media screen and (max-width: 640px) {
  .top-panel__menu__list {
    max-height: 0;
    overflow: hidden;
    line-height: 2.5;
    transition: max-height .7s ease 0s;
  }

  .top-panel__menu {
      font-size: 1.6rem;
  }

  .top-panel__menu__item {
      display: block;
  }
}
