.top-panel {
  background-color: #ededed;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 640px) {
    .top-panel {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .top-panel__menu__list {
        display: none;
        line-height: 2.5;
        transition: max-height .7s ease 0s;
    }

    .top-panel__menu__link {
        color: #fff;
    }

  .top-panel__menu {
      font-size: 2rem;
      width: 85%;
      text-align: center;
  }

  .top-panel__menu__item {
    display: block;
    margin-right: 0;
  }
}
