.basket {
  position: relative;
  font-size: 1.8rem;
  width: 22rem;
  background: linear-gradient(to bottom, $orange-gradient-top, $orange-gradient-bottom);
  text-align: center;
  margin-bottom: 1.8rem;

  &:after {
    position: absolute;
    bottom: -1.6rem;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.8rem 11rem 0 11rem;
    border-color: transparent;
    border-top-color: #ff9700;
  }
}

.basket__caption {
  margin-top: .4rem;
}

.basket__link {
  font-size: 3rem;
}

.auth {
  margin-top: .7rem;
  margin-bottom: .5rem;
}

@media screen and (max-width: 640px) {
    .basket {
        background: transparent;
        width: 50%;
        margin-top: 1.2rem;
        margin-bottom: 0;

        &:after {
            display: none;
        }
    }

    .basket__caption {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;
        margin-top: .7rem;
        text-indent: -9999px;
        background-image: url(../img/cart.svg);
        background-size: contain;
        vertical-align: top;
    }

    .auth {
        display: inline-block;
    }

    .sign-in {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        background-image: url(../img/enter.svg);
        background-size: contain;
        text-indent: -9999px;
        margin-right: 1rem;
    }

    .sign-up {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        background-image: url(../img/key.svg);
        background-size: contain;
        text-indent: -9999px;
    }
}
