.menu {
  font-size: 1.16em;
}

.submenu {
  margin-left: 1.8em;
  margin-top: 1em;
  line-height: 2em;
}

.menu__item {
  margin-right: 1.2em;
  display: inline-block;

  &:last-of-type {
    margin-right: 0;
  }
}

.menu__button {
  text-indent: -9999px;
  display: none;
}

.hamburger {
  position: relative;
  width: 18px;
  height: 18px;
  border-color: #000;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    border-color: inherit;
    border-top-width: 3px;
    border-top-style: solid;
    top: 50%;
    transform: translate(0, -50%);
  }

  &:hover {
    border-color: #f00;
  }
}

@media screen and (max-width: 940px) {
  .menu__button {
    display: block;
    float: left;
  }
}
