.menu {
    font-size: 1.2rem;
}

.submenu {
    margin-left: 1.8em;
    margin-top: 1em;
    line-height: 2em;
}

.menu__item {
    margin-right: 1.2em;
    display: inline-block;

    &:last-of-type {
        margin-right: 0;
    }
}

.menu__button {
    text-indent: -9999px;
    display: none;
}

.menu__checkbox {
    display: none;
}

.hamburger {
    display: none;
    height: 1.2rem;
    width: 3rem;
    position: relative;
    background-color: transparent;
    border-bottom: .5rem solid;
    border-top: .5rem solid;
    border-color: $color-orange;
    transition: border-color .6s ease .7s;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 100%;
        border-top: .5rem solid;
        border-color: $color-orange;
        transition: transform .7s ease 0s;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 100%;
        border-top: .5rem solid;
        border-color: $color-orange;
        transition: transform .7s ease 0s;
    }
}

.menu__checkbox:checked ~ .hamburger {
    border-color: transparent;

    &:before {
        transform: rotate(135deg);
        border-color: #fff;
    }

    &:after {
        transform: rotate(-135deg);
        border-color: #fff;
    }
    z-index: 3;
}

.menu__checkbox:checked ~ .menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: $color-orange;
    z-index: 2;
}

@media screen and (max-width: 640px) {
    .menu__button {
        display: block;
    }
}
