/*
 * Зачем обвертка???
 */
.pagination-wrapper {
  text-align: center;
}

.pagination {
  display: inline-block;
  width: 18em;
  margin-top: 4em;
}

.pagination__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: .4em;
  margin-right: .4em;
}
/*
 * Используй SCSS
 */
.pagination__item:first-of-type {
  margin-left: 0;
}

.pagination__item:last-of-type {
  margin-right: 0;
}

.pagination__link {
  font-size: 1.5em;
}

.pagination__link_active {
  color: #003382;
}
/*
 * А что будет если еще добавятся стрелке в другом компоненте?
 */
.triangle-left {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-right: 1.1em solid #001142;
  border-radius: .4em;
  text-indent: -9999px;
}

.triangle-left:hover {
  border-right-color: #1d5fc4;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1.1em solid #001142;
  border-radius: .4em;
  text-indent: -9999px;
}

.triangle-right:hover {
  border-left-color: #1d5fc4;
}
