.pagination {
  margin-top: 4em;
  text-align: center;
}

.pagination__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: .4em;
  margin-right: .4em;

    &:first-of-type {
        margin-left: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }
}

.pagination__link {
  font-size: 1.5em;
}

.pagination__link_active {
  color: #003382;
}

.pagination__triangle-left {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-right: 1.1em solid #001142;
  border-radius: .4em;
  text-indent: -9999px;

    &:hover {
      border-right-color: #1d5fc4;
    }
}

.pagination__triangle-right {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1.1em solid #001142;
  border-radius: .4em;
  text-indent: -9999px;

    &:hover {
      border-left-color: #1d5fc4;
    }
}
