.products {
  margin-left: 1em;
}

.product {
  display: inline-block;
  width: calc(30% - 1em);
  margin-top: 2.5em;
  margin-right: 1em;
  margin-left: 1em;
}

.product__preview {
  text-align: center;
  position: relative;
  display: block;
}

.product__name {
  margin-bottom: 1.5px;
}

.product__description {
  display: block;
  text-decoration: underline;
  color: #003280;
}

.product__offer {
  margin-top: 1.5em;
}

.product__price {
  display: inline-block;
  margin-top: .6em;
  font-size: 1.5em;
  font-weight: 700;
  color: #fb9f18;
}

.product__add-to-basket {
  text-indent: -9999px;
  float: right;
  width: 33px;
  height: 26px;
  background-position: 0 -15px;
  background-image: url(../img/icons.png);
}

.icon-topsales {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-image: url(../img/products/top_sales.png);

  &:before {
    font-style: normal;
    color: #fff;
    content: "";
    text-indent: 9999px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.icon-stock {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-image: url(../img/products/stock.png);

  &:before {
    font-style: normal;
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 768px) {
  .product {
    width: calc(50% - 3em);
  }
}

@media screen and (max-width: 480px) {
  .product {
    width: calc(100% - 2em);
  }
}
