.products {
  margin-left: 1em;
}

.product {
  display: inline-block;
  width: calc(30% - 1em);
  margin-top: 2.5em;
  margin-right: 1em;
  margin-left: 1em;
}

.product__preview {
  text-align: center;
  position: relative;
  display: block;
  width: 100%;
}

.product__img {
    width: 70%;
    height: auto;
}

.product__name {
  margin-bottom: 1.5px;
}

.product__description {
  display: block;
  text-decoration: underline;
  color: #003280;
}

.product__offer {
  margin-top: 1.4rem;
}

.product__price {
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fb9f18;
}

.product__add-to-basket {
  text-indent: -9999px;
  float: right;
  width: 3.3rem;
  height: 2.6rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-image: url(../img/cart.svg);
}

.icon-topsales {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 7rem;
  height: 7rem;
  background-image: url(../img/products/top_sales.png);

  &:before {
    font-style: normal;
    color: #fff;
    content: "Лидер продаж";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.icon-stock {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 7rem;
  height: 7rem;
  background-image: url(../img/products/stock.png);

  &:before {
    font-style: normal;
    content: "Акция";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 640px) {
    .product__add-to-basket {
      width: 5rem;
      height: 4rem;
    }
}

@media screen and (max-width: 340px) {
    .product {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    .icon-stock {
        width: 12rem;
        height: 12rem;
    }

    .icon-topsales {
        width: 12rem;
        height: 12rem;
    }
}

@media screen and (max-width: 640px) and (min-width: 341px) {
  .product__description {
    text-align: center;
  }

  .product {
    width: calc(50% - 3em);
  }
}
