.services-menu {
  margin-top: 2.2rem;
  border-radius: 2.2rem;
  background: linear-gradient(to top, #ff9700, #ffc500);
  font-weight: 700;
}

.service-menu__list {
  padding-top: .4rem;
  font-size: 1.1rem;
}

.service-menu__item {
  float: left;
  width: calc(20% - 2px);
  padding-bottom: .7rem;
  text-align: center;
  border-right: 1px solid #ffe17d;
  border-left: 1px solid #b27700;

  &:first-of-type {
    padding-left: 0;
    border-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
    border-right: 0;
  }
}

.service-icon {
  height: 4.6rem;
  width: 100%;
  background-position: center;
  background-size: auto;
}

// @media screen and (max-width: 640px) {
//     .service-icon {
//         display: none;
//     }
// }
