.services-menu {
  margin-top: 2.2rem;
  border-radius: 2.2rem;
  background: linear-gradient(to top, #ff9700, #ffc500);
  font-weight: 700;
  padding-left: 1rem;
  padding-right: 1rem;
}

.service-menu__list {
  padding-top: .4rem;
  font-size: 1.1rem;
}

.service-menu__item {
  width: calc(20% - 2px);
  padding-bottom: .7rem;
  text-align: center;
  border-right: 1px solid #ffe17d;
  border-left: 1px solid #b27700;

  &:first-of-type {
    padding-left: 0;
    border-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
    border-right: 0;
  }
}

.service-menu__item__caption {
    white-space: nowrap;
}

.service-icon {
  height: 4.6rem;
  width: 100%;
  background-position: center;
  background-size: auto;
}

@media screen and (max-width: 640px) {
    .services-menu {
        padding-left: 3rem;
        padding-right: 3rem;
        border-radius: 0;
    }

    .service-menu__item {
        display: table-cell;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .services-menu {
        font-size: 1.4rem;
        position: relative;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0rem;
            height: 4rem;
            width: 4rem;
            background-image: url(../img/chevron-left.svg);
            background-size: contain;
            background-repeat: no-repeat;
            transform: translate(0, -50%);
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            right: 0rem;
            height: 4rem;
            width: 4rem;
            background-image: url(../img/chevron-right.svg);
            background-size: contain;
            background-repeat: no-repeat;
            transform: translate(0, -50%);
        }
    }

    .service-menu__list {
        font-size: 1.4rem;
        overflow: auto;
    }
}

@media screen and (min-width: 641px) {
    .service-menu__item {
        float: left;
    }
}
