$color: #fff;

/*
 * Что тут это делает???
 */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

ul {
  list-style: none;
}

button {
  text-indent: -9999px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
