* {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 1.2rem;
  background: linear-gradient(to top, #a4c7ea, #e3ecf4); }

@media screen and (max-width: 768px) {
  html {
    font-size: 8px; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 6px; } }

button {
  border: none;
  cursor: pointer; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.basket {
  position: relative;
  font-size: 1.8rem;
  width: 22rem;
  background: linear-gradient(to bottom, #ffc600, #ff9600);
  text-align: center;
  margin-bottom: 1.8rem; }
  .basket:after {
    position: absolute;
    bottom: -1.6rem;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.8rem 11rem 0 11rem;
    border-color: transparent;
    border-top-color: #ff9700; }

.basket__caption {
  margin-top: .4rem; }

.basket__link {
  font-size: 3rem; }

.auth {
  margin-top: .7rem;
  margin-bottom: .5rem; }

.contacts {
  text-align: right;
  font-size: 1.6em;
  color: #00378a; }

.phone {
  color: #00378a; }

.phone-large {
  color: #fb9f18;
  font-size: 2em; }

.menu {
  font-size: 1.16em; }

.submenu {
  margin-left: 1.8em;
  margin-top: 1em;
  line-height: 2em; }

.menu__item {
  margin-right: 1.2em;
  display: inline-block; }
  .menu__item:last-of-type {
    margin-right: 0; }

.menu__button {
  text-indent: -9999px;
  display: none; }

.hamburger {
  position: relative;
  width: 18px;
  height: 18px;
  border-color: #000;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000; }
  .hamburger:after {
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    border-color: inherit;
    border-top-width: 3px;
    border-top-style: solid;
    top: 50%;
    transform: translate(0, -50%); }
  .hamburger:hover {
    border-color: #f00; }

@media screen and (max-width: 940px) {
  .menu__button {
    display: block;
    float: left; } }

.pagination {
  margin-top: 4em;
  text-align: center; }

.pagination__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: .4em;
  margin-right: .4em; }
  .pagination__item:first-of-type {
    margin-left: 0; }
  .pagination__item:last-of-type {
    margin-right: 0; }

.pagination__link {
  font-size: 1.5em; }

.pagination__link_active {
  color: #003382; }

.pagination__triangle-left {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-right: 1.1em solid #001142;
  border-radius: .4em;
  text-indent: -9999px; }
  .pagination__triangle-left:hover {
    border-right-color: #1d5fc4; }

.pagination__triangle-right {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1.1em solid #001142;
  border-radius: .4em;
  text-indent: -9999px; }
  .pagination__triangle-right:hover {
    border-left-color: #1d5fc4; }

.products {
  margin-left: 1em; }

.product {
  display: inline-block;
  width: calc(30% - 1em);
  margin-top: 2.5em;
  margin-right: 1em;
  margin-left: 1em; }

.product__preview {
  text-align: center;
  position: relative;
  display: block; }

.product__name {
  margin-bottom: 1.5px; }

.product__description {
  display: block;
  text-decoration: underline;
  color: #003280; }

.product__offer {
  margin-top: 1.5em; }

.product__price {
  display: inline-block;
  margin-top: .6em;
  font-size: 1.5em;
  font-weight: 700;
  color: #fb9f18; }

.product__add-to-basket {
  text-indent: -9999px;
  float: right;
  width: 33px;
  height: 26px;
  background-position: 0 -15px;
  background-image: url(../img/icons.png); }

.icon-topsales {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-image: url(../img/products/top_sales.png); }
  .icon-topsales:before {
    font-style: normal;
    color: #fff;
    content: "";
    text-indent: 9999px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }

.icon-stock {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-image: url(../img/products/stock.png); }
  .icon-stock:before {
    font-style: normal;
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }

@media screen and (max-width: 768px) {
  .product {
    width: calc(50% - 3em); } }

@media screen and (max-width: 480px) {
  .product {
    width: calc(100% - 2em); } }

.search {
  float: right; }

.search__field {
  background-color: #d2d2d2;
  outline: none;
  border: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 250px;
  height: 18px;
  float: left; }

.search__button {
  float: left;
  position: relative;
  border-radius: 0 10px 10px 0;
  background-color: #ffaf00;
  background-image: linear-gradient(0, #ff9600 0%, #ffc600 100%);
  height: 18px;
  width: 25px;
  text-indent: -9999px; }
  .search__button:before {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../img/icons.png); }
  .search__button:hover:before {
    background-position: -16px 0;
    background-image: url(../img/icons.png); }

@media screen and (max-width: 768px) {
  .search__field {
    display: none; }
  .search__button {
    border-radius: 0; } }

.services-menu {
  margin-top: 1.85em;
  border-radius: 1.85em;
  background: linear-gradient(to top, #ff9700, #ffc500);
  font-weight: 700; }

.service-menu__list {
  padding-top: .35em;
  font-size: .9em; }

.service-menu__item {
  float: left;
  width: calc(20% - 2px);
  padding-bottom: .7em;
  text-align: center;
  border-right: 1px solid #ffe17d;
  border-left: 1px solid #b27700; }
  .service-menu__item:first-of-type {
    padding-left: 0;
    border-left: 0; }
  .service-menu__item:last-of-type {
    padding-right: 0;
    border-right: 0; }

.service-icon {
  height: 4.2em;
  width: 100%;
  background-position: center;
  background-size: auto; }

@media screen and (max-width: 480px) {
  .services-menu {
    font-size: .7em; } }

.logo__img {
  width: 100%;
  height: auto; }

.page {
  box-sizing: border-box;
  padding-bottom: 230px;
  min-height: 100vh;
  position: relative; }

.main-container {
  margin: 0 auto;
  min-width: 300px;
  max-width: 940px;
  padding: 0 .8rem; }

.top-panel {
  background-color: #ededed;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.top-panel__menu {
  float: left; }

@media screen and (max-width: 940px) {
  .top-panel__menu__list {
    display: none; } }

.header__logo {
  margin-top: 1rem;
  float: left;
  width: 30%; }

.header__contacts {
  float: right;
  margin-top: 1.2rem; }

.header__basket {
  float: right;
  margin-left: 2.4rem; }

@media screen and (max-width: 768px) {
  .header__contacts {
    display: none; } }

.sidebar {
  float: left;
  width: 23%;
  background: linear-gradient(to top, #ff9600, #ffc600);
  margin-top: 24px;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }

.sidebar__menu {
  font-size: 1em;
  margin-left: 1em;
  line-height: 2em; }

@media screen and (max-width: 768px) {
  .sidebar {
    display: none; } }

.content {
  float: right;
  background-color: #FFF;
  width: 74%;
  margin-top: 2em;
  border-radius: 1.6em;
  padding-top: 1.6em;
  padding-bottom: 1.6em; }

@media screen and (max-width: 768px) {
  .content {
    width: 100%; } }

.footer {
  padding-top: 2em;
  padding-bottom: 2em;
  position: absolute;
  bottom: 0;
  min-width: 100%;
  background-color: #cdcdcd; }

.footer__menu {
  margin-bottom: 2.3em; }

.copyright {
  float: left;
  font-size: 1.1em; }

.scm {
  float: right;
  font-size: 1.1em; }

@media screen and (max-width: 480px) {
  .footer__menu {
    display: none; } }

a {
  text-decoration: none;
  color: #000; }
  a:hover, a:focus {
    color: #f00;
    outline: none; }

.icon-1C {
  background-image: url("../img/services/icon-1c.png"); }

.icon-business {
  background-image: url("../img/services/icon-accountant.png"); }

.icon-trade {
  background-image: url("../img/services/icon-equipment.png"); }

.icon-software {
  background-image: url("../img/services/icon-service.png"); }

.icon-itservice {
  background-image: url("../img/services/icon-software.png"); }

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block; }

.title {
  color: #002e79;
  font-weight: bold; }

.content__title {
  margin-left: 2.16em;
  font-size: 1.8em; }

ul {
  list-style: none; }
