* {
  margin: 0;
  padding: 0; }

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  background: -webkit-gradient(linear, left bottom, left top, from(#a4c7ea), to(#e3ecf4));
  background: -webkit-linear-gradient(bottom, #a4c7ea, #e3ecf4);
  background: linear-gradient(to top, #a4c7ea, #e3ecf4); }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

ul {
  list-style: none; }

button {
  border: none;
  cursor: pointer; }

.basket {
  position: relative;
  width: 18.3em;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc200), to(#ff9700));
  background: -webkit-linear-gradient(top, #ffc200, #ff9700);
  background: linear-gradient(to bottom, #ffc200, #ff9700);
  text-align: center; }
  .basket:after {
    position: absolute;
    bottom: -1.3em;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.4em 9.16em 0 9.16em;
    border-color: transparent;
    border-top-color: #ff9700; }

.basket__caption {
  margin-top: .4em; }

.basket__link {
  font-size: 2.5em; }

.auth {
  font-size: 1.5em;
  margin-top: .4em;
  margin-bottom: .4em; }

@media screen and (max-width: 480px) {
  .basket {
    font-size: .7em; } }

.contacts {
  text-align: center;
  font-size: 1.6em;
  color: #00378a; }

.phone {
  color: #00378a; }

.phone-large {
  color: #fb9f18;
  font-size: 2em; }

.copyright {
  float: left;
  font-size: 1.1em; }

.menu {
  font-size: 1.16em; }

.submenu {
  margin-left: 1.8em;
  margin-top: 1em;
  line-height: 2em; }

.menu__item {
  margin-right: 1.2em;
  display: inline-block; }
  .menu__item:last-of-type {
    margin-right: 0; }

.menu__button {
  text-indent: -9999px;
  display: none; }

.hamburger {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  border-color: #000;
  border-top: .3em solid #000;
  border-bottom: .3em solid #000; }
  .hamburger:after {
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    border-color: inherit;
    border-top-width: .3em;
    border-top-style: solid;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .hamburger:hover {
    border-color: #f00; }

@media screen and (max-width: 940px) {
  .menu__button {
    display: block;
    float: left; }
  .top-panel__menu__list {
    display: none; } }

.pagination-wrapper {
  text-align: center; }

.pagination {
  display: inline-block;
  width: 18em;
  margin-top: 4em; }

.pagination__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: .4em;
  margin-right: .4em; }

.pagination__item:first-of-type {
  margin-left: 0; }

.pagination__item:last-of-type {
  margin-right: 0; }

.pagination__link {
  font-size: 1.5em; }

.pagination__link_active {
  color: #003382; }

.triangle-left {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-right: 1.1em solid #001142;
  border-radius: .4em;
  text-indent: -9999px; }

.triangle-left:hover {
  border-right-color: #1d5fc4; }

.triangle-right {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1.1em solid #001142;
  border-radius: .4em;
  text-indent: -9999px; }

.triangle-right:hover {
  border-left-color: #1d5fc4; }

.products {
  margin-left: 1em; }

.product {
  display: inline-block;
  width: -webkit-calc(30% - 1em);
  width: calc(30% - 1em);
  margin-top: 2.5em;
  margin-right: 1em;
  margin-left: 1em; }

.product__preview {
  text-align: center;
  position: relative;
  display: block; }

.product__name {
  margin-bottom: 1.5px; }

.product__description {
  display: block;
  text-decoration: underline;
  color: #003280; }

.product__offer {
  margin-top: 1.5em; }

.product__price {
  display: inline-block;
  margin-top: .6em;
  font-size: 1.5em;
  font-weight: 700;
  color: #fb9f18; }

.product__add-to-basket {
  text-indent: -9999px;
  float: right;
  width: 33px;
  height: 26px;
  background-position: 0 -15px;
  background-image: url(../img/icons.png); }

.icon-topsales {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-image: url(../img/products/top_sales.png); }
  .icon-topsales:before {
    font-style: normal;
    color: #fff;
    content: "";
    text-indent: 9999px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.icon-stock {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-image: url(../img/products/stock.png); }
  .icon-stock:before {
    font-style: normal;
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

@media screen and (max-width: 768px) {
  .product {
    width: -webkit-calc(50% - 3em);
    width: calc(50% - 3em); } }

@media screen and (max-width: 480px) {
  .product {
    width: -webkit-calc(100% - 2em);
    width: calc(100% - 2em); } }

.scm {
  float: right;
  font-size: 1.1em; }

.search {
  float: right; }

.search__field {
  background-color: #d2d2d2;
  outline: none;
  border: 0;
  padding-left: .5em;
  padding-right: 1em;
  width: 17em;
  height: 18px;
  float: left; }

.search__button {
  float: left;
  position: relative;
  border-radius: 0 10px 10px 0;
  background-color: #ffaf00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(0%, #ff9600), to(#ffc600));
  background-image: -webkit-linear-gradient(0, #ff9600 0%, #ffc600 100%);
  background-image: linear-gradient(0, #ff9600 0%, #ffc600 100%);
  background-image: -ms-linear-gradient(90deg, #ff9600 0%, #ffc600 100%);
  height: 18px;
  width: 25px;
  text-indent: -9999px; }
  .search__button:before {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 16px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../img/icons.png); }
  .search__button:hover:before {
    background-position: -16px 0;
    background-image: url(../img/icons.png); }

@media screen and (max-width: 768px) {
  .search__field {
    display: none; }
  .search__button {
    border-radius: 0; } }

.services-menu {
  margin-top: 1.85em;
  border-radius: 1.85em;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff9700), to(#ffc500));
  background: -webkit-linear-gradient(bottom, #ff9700, #ffc500);
  background: linear-gradient(to top, #ff9700, #ffc500);
  font-weight: 700; }

.service-menu__list {
  padding-top: .35em;
  font-size: .9em; }

.service-menu__item {
  float: left;
  width: -webkit-calc(20% - 2px);
  width: calc(20% - 2px);
  padding-bottom: .7em;
  text-align: center;
  border-right: 1px solid #ffe17d;
  border-left: 1px solid #b27700; }
  .service-menu__item:first-of-type {
    padding-left: 0;
    border-left: 0; }
  .service-menu__item:last-of-type {
    padding-right: 0;
    border-right: 0; }

.service-icon {
  height: 4.2em;
  width: 100%;
  background-position: center;
  background-size: auto; }

@media screen and (max-width: 480px) {
  .services-menu {
    font-size: .7em; } }

@media screen and (max-width: 480px) {
  .logo__img {
    width: -webkit-calc(100%);
    width: calc(100%); } }

.page {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 19.2em;
  min-height: 100vh;
  position: relative; }

.main-container {
  margin: 0 auto;
  min-width: 300px;
  max-width: 940px;
  padding: 0 .9em; }

.top-panel {
  background-color: #ededed;
  padding-top: 1em;
  padding-bottom: 1em; }

.top-panel__menu {
  float: left; }

.header__logo {
  margin-top: .8px;
  float: left; }

.header__contacts {
  float: right;
  margin-top: 1em; }

.header__basket {
  float: right;
  margin-left: 2em; }

@media screen and (max-width: 768px) {
  .header__contacts {
    display: none; } }

@media screen and (max-width: 480px) {
  .header__logo {
    width: -webkit-calc(40%);
    width: calc(40%); } }

.sidebar {
  float: left;
  width: 23%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff9600), to(#ffc600));
  background: -webkit-linear-gradient(bottom, #ff9600, #ffc600);
  background: linear-gradient(to top, #ff9600, #ffc600);
  margin-top: 24px;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }

.sidebar__menu {
  font-size: 1em;
  margin-left: 1em;
  line-height: 2em; }

@media screen and (max-width: 768px) {
  .sidebar {
    display: none; } }

.content {
  float: right;
  background-color: #FFF;
  width: 74%;
  margin-top: 2em;
  border-radius: 1.6em;
  padding-top: 1.6em;
  padding-bottom: 1.6em; }

@media screen and (max-width: 768px) {
  .content {
    width: 100%; } }

.footer {
  padding-top: 2em;
  padding-bottom: 2em;
  position: absolute;
  bottom: 0;
  min-width: 100%;
  background-color: #cdcdcd; }

.footer__menu {
  margin-bottom: 2.3em; }

@media screen and (max-width: 480px) {
  .footer__menu {
    display: none; } }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    color: #f00; }
  a:focus {
    outline: none;
    color: #f00; }

.icon-1C {
  background-image: url(../img/services/icon-1c.png); }

.icon-business {
  background-image: url(../img/services/icon-accountant.png); }

.icon-trade {
  background-image: url(../img/services/icon-equipment.png); }

.icon-software {
  background-image: url(../img/services/icon-service.png); }

.icon-itservice {
  background-image: url(../img/services/icon-software.png); }

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block; }

.title {
  color: #002e79;
  font-weight: bold; }

.content__title {
  margin-left: 2.16em;
  font-size: 1.8em; }
