.icon-1C {
    @include path("services/icon-1c.png");
}

.icon-business {
    @include path("services/icon-accountant.png");
}

.icon-trade {
    @include path("services/icon-equipment.png");
}

.icon-software {
    @include path("services/icon-service.png");
}

.icon-itservice {
     @include path("services/icon-software.png");
}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
