.icon {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 14px;
  width: 14px;
}

.icon-1C {
  background-image: url(../img/services/icon-1c.png);
}

.icon-business {
  background-image: url(../img/services/icon-accountant.png);
}

.icon-trade {
  background-image: url(../img/services/icon-equipment.png);
}

.icon-software {
  background-image: url(../img/services/icon-service.png);
}

.icon-itservice {
  background-image: url(../img/services/icon-software.png);
}
